<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>PAIA Dashboard</h1>
    <div class="dashboard-actions">
      <div class="user-info" *ngIf="userInfo" [matMenuTriggerFor]="userMenu">
        <img *ngIf="userInfo.picture" [src]="userInfo.picture" alt="Profilbild" class="user-avatar">
        <span class="user-name">{{ userInfo.name }}</span>
      </div>
      
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="widgetMenu">
          <mat-icon>add</mat-icon>
          Widget hinzufügen
        </button>
        <button mat-menu-item [routerLink]="['/config']">
          <mat-icon>settings</mat-icon>
          Konfiguration
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Abmelden
        </button>
      </mat-menu>
      
      <mat-menu #widgetMenu="matMenu">
        <button mat-menu-item *ngFor="let widget of availableWidgets$ | async" (click)="addWidget(widget)">
          {{ widget.name }}
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="dashboard-content">
    <div class="dashboard-grid">
      <div class="widget-container"
           *ngFor="let item of widgets; let i = index"
           #widgetElement
           [ngStyle]="getWidgetStyle(item.instance)">
        <app-widget [widget]="item.widget" [index]="i" (close)="removeWidget($event)"></app-widget>
        <div class="resize-handle"></div>
      </div>
    </div>
  </div>
</div>
