<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>PAIA Dashboard</h1>
    <div class="dashboard-actions">
      <div class="user-info" *ngIf="userInfo">
        <img *ngIf="userInfo.picture" [src]="userInfo.picture" alt="Profilbild" class="user-avatar">
        <span class="user-name">{{ userInfo.name }}</span>
      </div>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="widgetMenu">
        <mat-icon>add</mat-icon>
        Widget hinzufügen
      </button>
      <mat-menu #widgetMenu="matMenu">
        <button mat-menu-item *ngFor="let widget of availableWidgets$ | async" (click)="addWidget(widget)">
          {{ widget.name }}
        </button>
      </mat-menu>
      
      <button mat-raised-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Abmelden
      </button>
    </div>
  </div>

  <div class="dashboard-content">
    <gridster [options]="options">
      <gridster-item *ngFor="let item of widgets; let i = index"
        [item]="createGridsterItem(item.instance.position)">
        <app-widget [widget]="item.widget" [index]="i" (close)="removeWidget($event)"></app-widget>
      </gridster-item>
    </gridster>
  </div>
</div>
